@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

.row:first-of-type {
    border-top: 0;
}

.row:last-of-type {
    border-top: 2px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50vh;
    border: 10px solid #fff;
    padding: 10px 10px 10px 0;
    border-bottom: 5px;
}

.homeIcon {
    padding-left: 10px;
    margin-right: -5px;
}

.studyList {
    background-color: var(--ion-color-quaternary);
}

.studyItem {
    margin: 10px 6px;
    background-color: var(--ion-color-primary);
    border-radius: 5px;
    color: var(--ion-color-primary-contrast);
    font-size: 20px;
}

.studyItemPlaying {
    background-color: var(--ion-color-primary-contrast);
    color: var(--ion-color-primary);
}

.studyControls {
    padding: 22px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
}

.itemMorse { 
    flex: 1; 
    text-align: center;
    font-size: 40px;
}

.answerPreview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    font-size: 25px;
    font-family: var(--ion-font-family);
    color: var(--ion-color-quaternary-contrast);
    background-color: var(--ion-color-quaternary-shade);
    margin: 6px;
    padding: 5px;
}

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    overflow: scroll;
    background-color: var(--ion-color-quaternary);
    font-family: var(--ion-font-family);
}
  
.title {
	font-family: 'Ubuntu';
	font-size: 30px;
	text-align: center;
}

.menuButtonContainer {
    position: absolute;
}

.rightButtonContainer {
    position: absolute;
    right: 0;
}

.rightButton {
    font-size: 27px;
    padding-right: 12px;
    color: rgba(0,0,0,0.50);
}

.refresh {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeInput {
    font-size: 55px;
    overflow-x: scroll;
}

.refreshBtn {
    margin: 0
}

.drillList {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px;
    border-top: 2px solid var(--ion-color-quaternary-contrast);
    margin: 10px 10px;
}

.popupText {
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

button.eventful-unpressed {
    color: var(--ion-color-primary-contrast);
}

.popoverPlay {
    width: 100%;
    border-top: 4px solid var(--ion-color-primary-tint);
    color: var(--ion-color-primary-contrast);
    padding: 10px 0;
    background-color: var(--ion-color-primary);
}

.challengeSkipBtn {
    margin: 8px;
    width: auto;
    align-self: flex-end;
}

.challengeList {
    overflow-y: scroll;
}