@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

.title {
	font-family: 'Ubuntu';
	font-size: 30px;
	text-align: center;
}

.menuButtonContainer {
    position: absolute;
}

.rightButtonContainer {
    position: absolute;
    right: 0;
}

.rightButton {
    font-size: 27px;
    padding-right: 12px;
    color: rgba(0,0,0,0.50);
}
